
<header style="background:#31B88A">

      <div class="intro-text">
         <div class="intro-heading">Hi, {{first_name}}</div>
     
      </div>
</header>

<section style="background:rgb(40, 149, 216);">
         <div id="wrapper1">
            <div id="columns1">
            {{user.DisplayName}}

            </div>
         </div>

</section>