
<header style="background:#31B88A">
   <div class="container">
      <div class="intro-text">
         <div class="intro-heading">HELLO FACEBOOK WALL {{first_name}}</div>
         <div class="intro-lead-in">

            <p></p>
         </div>

         <div id="wrapper1">
            <div id="columns1">
               {{#each facebook}}

               <div class="pin1">

                  <p>{{message}}</p>
                  <p>{{totalLikes}} likes</p>

               </div>
               {{/each}}
            </div>
         </div>


      </div>

   </div>
   </div>
</header>
