      

  <header style="background:#31B88A">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">HELLO {{first_name}}</div>
                <div class="intro-lead-in">

                  <p>Learn more about happiness</p></div>

 <div id="wrapper1" >
      <div id="columns1">
                 {{#each facebook}}

       <div class="pin1">

<p>{{message}}</p> 
 <p></p> 



  <!-- <button class="btn btn-success" onclick={{liked}} type="button">Like</button> -->
   </div>
{{/each}}
</div></div>

              
                </div>
               
            </div>
        </div>
    </header>

