<header style="background:#31B88A">
   <div class="container">
      <div class="intro-text">
         <div class="intro-lead-in">My Instagram Wall</div>
      </div>
      <div id="wrapper1">
         <div id="columns1">

            {{#each photos2}}

            <div class="pin1">


               <img class="img-responsive shadows" onError="this.onerror=null;this.src='http://echurchdepot.zurltd.netdna-cdn.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/7/3/739260007138L_3.jpg'" width="560" height="315" src="{{url2}}" alt="">
               <p class="cutword">{{pp}}</p>
               <div style="text-align:left;display:inline">
                  <img src={{the_profilePicture}} style="width:40px; border:none;padding:none;margin:none" alt="author profile picture">
                  <p style="display:inline">{{numLikes}} likes</p>
                  </img>
               </div>

            </div>
            {{/each}}
         </div>
      </div>

   </div>
</header>