

<div style="background:#31B88A">
   <section class="hero-three-items" style="padding-top:0px;padding-bottom:0px">
      <article class="hero-block primary c6" style="box-sizing: border-box;">
         <a aria-hidden="true" class="img-link c2 page-scroll"" href="#main">The beauty of the nature</a>
         <div class="text-box c5">
            <h2>
                    <a class="c3">SPREAD THE LOVE</a>
                  </h2>
            <p class="secondary-text">
               <a class="tag c3 page-scroll" href="#main"></a>
            </p>
            <p class="secondary-text description c4">
               We are designing happiness for social media.
            </p>
         </div>
      </article>
      <article class="hero-block secondary c9">
         <a aria-hidden="true" class="img-link c7 noTextDec" href="/love">
                The beauty nearby</a>
         <div class="text-box c8">
            <h4>
                    <a class="c3" href="/love">The beauty nearby</a>
                  </h4>
            <p class="secondary-text">
               <!-- <a class="tag c3" href="/love">Visit Places</a> -->
            </p>
         </div>
      </article>
      <article class="hero-block secondary c12">
         <a aria-hidden="true" class="img-link c10" style="background-image:url({{onepicture}})" href="/popular">Most Popular in Intagram</a>
         <div class="text-box c11" style="border:none">
            <h4>
                    <a class="c3" href="/popular">Most Popular in Intagram</a>
                  </h4>
            <p class="secondary-text" style="border:none">
               <!-- <a class="tag c3" href="/popular">Learn More</a> -->
            </p>
         </div>
      </article>
   </section>
</div>









     <!-- Portfolio Grid Section -->
    <section id="portfolio" >
        <div class="container aa">
         <p style="border-left: solid 5px #f00;font-size:30px;
  font-style: italic;
  line-height: 40px;color:#ccc;padding-left:30px;font-weight: 700;">Today's Challenges <a href="https://www.facebook.com/onehanachallenge" style="color:#14934A;font-size:15px;">/more</a></p>
      

<div>
   <section class="hero-three-items" style="padding-top:0px;padding-bottom:0px">
      <article class="hero-block primary c6" style="width:100%">
         <a aria-hidden="true" class="img-link c2 page-scroll" style="background-image:url({{FB.url}})">

         </a>

         <div class="text-box c8">
          <h5>
            <a class="c4 noTextDec" style="word-wrap: break-word;color:#ffffff">
               {{FB.FBDescription}}
            </a>
            </h5>
         </div>
      </article>


   </section>
</div>
        </div>
        <div class="container bb" >

<header id="main" style="color:#cccccc">

      <div class="intro-text" style="padding-top:50px; padding-bottom: 40px;color:#cccccc;">
         <div class="intro-heading" >TAKE</div>
         <div class="intro-lead-in" >a step to start, learn more with</div>
         
 
<div>
    
             <a class="btn btn-xl" style="background:#3b5998;border:none" href="/auth/facebook">FACEBOOK</a>
         </div>

<div style="padding-top:1.5ex">
               <a class="btn btn-xl" style="background:#EC6161;border:none" href="/auth/instagram">Instagram</a>
</div>
   </div>
</header>
</div>
    </section>







     <!-- Portfolio Modal 1 -->
     <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row borderLeft">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 >Starting the Green Journey</h2>
                            <p class="item-intro text-muted"> </p>
                            <img class="img-responsive" src="https://download.unsplash.com/photo-1421091242698-34f6ad7fc088" alt="">
                            <p class="textSizeTwenty">Eat a salad today to complete this challenge!</p>
                            <p class="textSizeTwenty">
                               
                             </p>
                            <ul class="list-inline">
                                <li>Date: Feb 2015</li>
                                <li>By: Max </li>
                                <li><mark>Category</mark>: Health</li>
                            </ul>
                            <button type="button" class="btn btn-warning paddingMore" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            
                            <div class="fb-share-button paddingMore btn" data-href="http://hana4.meteor.com/addChallenge" data-layout="button_count">
                            </div>

                            <button type="button" class="btn btn-success paddingMore" onclick="addPost('http://hana4.meteor.com/img/1.png','Ate a Salad!','It\'s February. I have often heard that it\'s difficult to maintain a heathy lifestyle. Spring is the best time to start your health journey. Eat Green, be healthier.','health')"><i class="fa fa-times"></i> Complete this challenge! </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row borderLeft">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>A Warm Hug</h2>
                            <p class="item-intro text-muted"> </p>
                            <img class="img-responsive img-centered" src="img/2.png" alt="">
                            <p class="textSizeTwenty"> Hug someone today! A small positive thought in the morning with your partner can change the whole day.
                            </p>
                                    <ul class="list-inline">
                                <li>Date: Feb 2015</li>
                                <li>By: Alex</li>
                                <li><mark>Category</mark>: Relationships</li>
                            </ul>

                            <button type="button" class="btn btn-warning paddingMore" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            <button type="button" class="btn btn-success paddingMore" onclick="addPost('http://hana4.meteor.com/img/2.png','Hugged my best friend','A small positive thought in the morning with your partner can change the whole day. There are so many tips for us to learn for cultivating relationships. Let\'s try this one: drive and enjoy today\'s sunrise.','Relationships')"><i class="fa fa-times"></i> Complete this challenge! </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row borderLeft">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>NEVER GIVEUP</h2>
                            <p class="item-intro text-muted"> </p>
                            <img class="img-responsive img-centered" src="img/3.png" alt="">
                            <p class="textSizeTwenty"> Organize your desk! <br> Have you ever paused long enough to ask yourself how you could benefit from being better organized?” There are many benefits for being well organized and I have selected three (3) major benefits to share with you:<br><br> 
                            Benefit #1: you will be able to be more focused on what you want to achieve.<br>Benefit #2: you will be able to be more productive and do better on your midterms. <br>Benefit #3: you will be able to reduce the clutter in your workspace and reduce your stress levels.
                            </p>
                                    <ul class="list-inline">
                                <li>Date: Feb 2015</li>
                                <li>By: Daniel</li>
                                <li><mark>Category</mark>: Aspirations</li>
                            </ul>
                            <button type="button" class="btn btn-warning paddingMore" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            <button type="button" class="btn btn-success paddingMore" onclick="addPost('http://hana4.meteor.com/img/3.png','Organized my desk!','Have you ever paused long enough to ask yourself how you could benefit from being better organized? There are many benefits for being well organized and I have selected three major benefits to share with you. Benefit #1: you will be able to be more focused on what you want to achieve. Benefit #2: you will be able to be more productive and do better on your midterms. Benefit #3: you will be able to reduce the clutter in your workspace and reduce your stress levels.','Aspirations')"><i class="fa fa-times"></i> Complete this challenge! </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

